# Data Structures

### First a bit on Data Types

In [35]:
a = 2 #assign the variable, a is now equal to the value 2
b = 500
c = a+b
print(c)
type(c)

502

int

In [36]:
str(c)

'502'

In [38]:
str(c) + a  #no dice, you cannot add an integer to a string (this way)

TypeError: can only concatenate str (not "int") to str

In [32]:
a = '2'
b = '500'
c = a+b 
print(c)
type(c)

2500

str

Because these are strings using + combines them, python is reading them at text not numbers

In [33]:
int(c) #I can make this string of a number into an integer

2500

In [41]:
d = 'hey'
int(d) #but I cannot make a string of a word into an integer (not this way)

ValueError: invalid literal for int() with base 10: 'hey'

### Strings

In [43]:
#you can use '' or "" 
a_string = 'something'
also_a_string = "something else"

In [44]:
a_problem = 'You're not supposed to do this'

SyntaxError: invalid syntax (<ipython-input-44-405e13963576>, line 1)

In [46]:
a_fixed_problem = "You're find doing this though"
print(a_fixed_problem)

You're find doing this though

### String Operators

In [48]:
a_string+a_string

'somethingsomething'

In [50]:
a_string*3

'somethingsomethingsomething'

### String Methods

In [54]:
my_string = 'This is a sentence, John, it tells you something'

In [136]:
my_string.title()

'This Is A Sentence, John, It Tells You Something'

In [137]:
my_string.swapcase()

'tHIS IS A SENTENCE, jOHN, IT TELLS YOU SOMETHING'

In [139]:
my_string.split(' ')

['This', 'is', 'a', 'sentence,', 'John,', 'it', 'tells', 'you', 'something']

In [140]:
my_string.split(',')

['This is a sentence', ' John', ' it tells you something']

In [56]:
my_string.replace('John', 'Jimmy')

'This is a sentence, Jimmy, it tells you something'

#### String Fromatting

In [148]:
another_str = 'This is a sentence, {}, it tells you something{}'

In [149]:
another_str.format('Maya', '!')

'This is a sentence, Maya, it tells you something!'

### Lists:

In [59]:
my_list = [1,2,3,10,"ok"]

In [60]:
my_list[0]

1

In [61]:
type(my_list) #type() works on containers too

list

####  Slicing:

In [62]:
my_list[1:3]#[from:to] in math notation [from, to)

[2, 3]

In [77]:
my_list[0::2] #[from:to:step]

[1, 3, 'ok']

In [78]:
my_list[:]

[1, 2, 3, 10, 'ok']

#### Add and Remove:

In [82]:
my_list.append(4)
my_list

[1, 2, 3, 10, 'ok', 4]

In [83]:
my_list.remove('ok')
my_list

[1, 2, 3, 10, 4]

In [84]:
my_list.extend([1,2,3,4])
my_list

[1, 2, 3, 10, 4, 1, 2, 3, 4]

In [85]:
my_list.insert(4, 5)
my_list

[1, 2, 3, 10, 5, 4, 1, 2, 3, 4]

#### More: (note these apply to the other container types too)

In [86]:
my_list.count(4)

2

In [87]:
my_list.sort()
my_list

[1, 1, 2, 2, 3, 3, 4, 4, 5, 10]

In [95]:
len(my_list)

10

In [103]:
min(my_list)

1

### Sets

In [111]:
my_set = set([1,2,2,2,3,4])
my_set

{1, 2, 3, 4}

In [112]:
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [113]:
my_set.add(3)
my_set

{1, 2, 3, 4, 5}

In [65]:
#You can perform logic on sets
x = set([1, 2, 3, 4, 5, 5])
y = set([1, 2])
z = set([5, 6, 7])

x.union(y)

{1, 2, 3, 4, 5}

In [66]:
x.intersection(z)

{5}

In [67]:
x.difference(y)

{3, 4, 5}

In [68]:
#get a list of unique values
unique_list= list(set(my_list)) #Note: Python operates, inside to outside, and L to R
unique_list

[1, 2, 3, 10, 'ok']

### Tuples

In [94]:
my_tuple = ('a','b', 1, 2)
my_tuple

('a', 'b', 1, 2)

In [104]:
my_tuple[0]

'a'

In [105]:
my_tuple[:]

('a', 'b', 1, 2)

Unpack:

In [107]:
x, y, z, q = my_tuple

In [108]:
x

'a'

In [109]:
y

'b'

### Dictionaries

In [122]:
#my_dict = {key1:value1, key2:value2, ...}
my_dict = {'hello':'how are you doing', 'alpha': ['a','b','c'], 'tup':(1,2)}

In [123]:
my_dict['hello']

'how are you doing'

In [124]:
my_dict['alpha']

['a', 'b', 'c']

Add

In [129]:
my_dict['list'] = [1,2,3,4,5]
my_dict

{'hello': 'how are you doing',
 'alpha': ['a', 'b', 'c'],
 'tup': (1, 2),
 'a': 1,
 'b': 2,
 'list': [1, 2, 3, 4, 5]}

Combining dictionaries

In [128]:
my_other_dict = {'a': 1, 'b': 2}

my_dict.update(my_other_dict)
my_dict

{'hello': 'how are you doing',
 'alpha': ['a', 'b', 'c'],
 'tup': (1, 2),
 'a': 1,
 'b': 2}

In [ ]:
for k in dict1:
    print(k) #if don't specify anyting, loops through the key
#another way to do the same thing
for k in dict1.keys():
    print(k)
#lopp over values
for v in dict1.values():
    print(v)
#key:value pairs
for k, v in dict1.items():
    print(k, v)

## Resources
Check this out for more on data structures including more about strings

https://thomas-cokelaer.info/tutorials/python/data_structures.html

## Preview for next Lecture

#### For Loop:

In [79]:
for a in my_list:
    print(a)

1
2
3
10
ok

In [80]:
for i, a in enumerate(my_list):
    print(i,a)

0 1
1 2
2 3
3 10
4 ok

In [81]:
my_list.index('ok')

4

#### List Comprehension

In [92]:
#as a for loop
evens = []
for a in my_list:
    if a % 2 == 0:
        evens.append(a)
evens

[2, 2, 4, 4, 10]

In [93]:
#as a list comprehension
[a for a in my_list if a % 2 == 0]

[2, 2, 4, 4, 10]

## An Example

In [69]:
states = ['CA', 'NM', 'MO', 'IL']
current = 'IL'

def print_states (states, current): #this is a function (more later)
    for state in states:
        if state is current:
            print("Now I live in "+ state)
        else:
            print("I've lived in "+ state)

print_states(state_list, current_state)

I've lived in CA
I've lived in NM
I've lived in MO
Now I live in IL

In [70]:
other_states = ['CO', 'NM', 'NV', 'IN']
other_current = 'IN'
print_states(other_states, other_current)

I've lived in CO
I've lived in NM
I've lived in NV
Now I live in IN